<h2>V채lkommen {{user.username}}</h2>
<p>H채r 채r dina startade l채rostigar. Lycka till nu!</p>

{{#each paths}}
  <div>

    <div class="path">
      <h3>{{learningPath.title}}</h3>
      <p>{{learningPath.description}}</p>
      <ol>

        {{#each learningPath.steps}}          
            <li>
              <p>
                <input
                  type="checkbox"
                  class="complete-step"
                  data-step-id="{{_id}}"
                  data-learning-path-id="{{step._id}}"
                /> <b>{{title}}</b>    
                </p>

                <p><i>{{description}}</i></p>           
              <p>Link: <a href="{{link}}" target="_blank">{{link}}</a></p>
            </li>

        {{/each}}
          </ol>

      </li>
      <hr />
    </div>
  </div>
{{/each}}